@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
   background: #111;
   /* padding-bottom: 300px; */
   
    
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    column-gap: 2rem;
}

li a {
    color: white;
    font-weight: 500;
    transition: .3s;
}

li a:hover {
    color: gray;
}

a.con:hover {
    cursor: url(./icons8-contact-35.png), pointer;
}

.logo {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.disc {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: turquoise;
    padding: 1rem 5rem;
    
}

.line {
    color: white;
    font-size: 1.8rem;
}

body::before{
    content: 'Its you always you!!';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #555;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section h2{
    margin-left: 200px;
    font-size: 4em;
    color: #fff;
    margin-bottom: 20px;
}

section .container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .container .imgBx{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

section .container .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .container .imgBx video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .content{
    position: absolute;
    right: 0;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 40px;
    background: #333;
    z-index: 1;
    max-width: 400px;
    color: #fff;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    border-bottom: 6px solid #4ac7ff;
}
